body{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbar{
    width: 100vw;
    height: 50px;
    top: 0;
    position: fixed;
    background-color: rgb(57, 124, 247);
    display: inline-block;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    z-index: 1;
    transition: background-color 0.4s;
}

.navbar ul li{
    display: inline-block;
}

.navbar img{
    float: left;
    margin-right: 10px;
}

.navbar li a{
    text-decoration: none;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    size: 2em;
}

.navbar li a:hover{
    color: rgb(255, 155, 171);
}

.primeira-seção{
    background-image: url("https://images.unsplash.com/photo-1602478562449-abf35dbea243?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1650&q=80");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.primeira-seção h1{
    position: relative;
    text-align: center;
    top: 50%;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    text-shadow: 2px 2px 4px rgb(153, 151, 151);
}

.segunda-seção{
    margin: 70px;
}

.segunda-seção .texto{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin: 40px;
}

.navbar.active{
    background-color: rgb(255, 155, 171);
}

.navbar.active a:hover{
    color: rgb(57, 124, 247);
}