body{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbar{
    width: 100vw;
    height: 80px;
    top: 0;
    position: absolute;
    background-color: rgb(57, 124, 247);
    display: inline-block;
    padding: 10px 20px;
}

.navbar ul li{
    display: inline-block;
}

.navbar a{
    text-decoration: none;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    size: 1.5em;
}

.primeira-seção{
    background-image: url("https://images.unsplash.com/photo-1602478562449-abf35dbea243?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1650&q=80");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}